/* 共通ボタン */
@mixin _btn {
    text-decoration: none;
    text-align: center;
    border: none;
    background-color: $color-bg-button;
    color: $color-text-black;
    font-family: $font-family-en;
    font-weight: bold;
    line-height: 59px;
    width: 235px;
    height: 59px;
    border-radius: 999px;
    box-shadow: 0 0 6px #1B1310;
    position: relative;
    transition: color .3s ease-out .03s;
    overflow: hidden;
    z-index: 1;
}

@mixin _hoverBtn {
    @include _btn;
    
    &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #f73f86;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform .4s ease-out 0s;
        z-index: -1;
    }

    @include mq('lg') {
        &:hover {
            color: $color-text-white;
        
            &::after {
                transform: scaleX(1);
                transform-origin: left;
            }
        }
    }
}

