/* -------------------------
ここからメイン
------------------------- */

/* -------------------------
fv
------------------------- */
.fv {
    position: relative;

    &__container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: auto;
        width: 100%;
        @include z-index("fv-text");
        
        @include mq('lg') {
            top: auto;
            transform: translate(0, 0);
            bottom: 21%;
            left: 0;
        }
    }

    &__title {
        font-family: $font-family-en;
        font-size: 10vw;
        text-align: center;
        font-weight: bold;
        line-height: 1em;
        color: $color-text-white;

        @include mq('md') {
            font-size: rem(56);
        }
        
        @include mq('lg') {
            font-size: rem(70);
            text-align: left;
        }
    }

    &__text {
        font-size: 8vw;
        font-weight: bold;
        text-align: center;
        line-height: leading(50, 40);
        color: $color-text-white;
        margin-top: 40px;

        @include mq('md') {
            font-size: rem(30);
        }

        @include mq('lg') {
            font-size: rem(40);
            text-align: left;
        }
    }

    // フェードインアニメーション
    .fadeIn-fv {
        opacity: 0;
        transition: opacity 2s ease 0s;

        &.is-active {
            opacity: 1;
        }
    }
}

/* -------------------------
Concept
------------------------- */
.concept {
    overflow: hidden;

    &__heading {
        text-align: center;
        font-size: 5.3vw;
        font-weight: bold;
        line-height: leading(30, 20);
        
        @include mq('md') {
            font-size: rem(24);
        }

        @include mq('lg') {
            font-size: rem(30);
            line-height: leading(50, 30);
        }
    }

    &__container {
        margin: 24px 0 0;

        @include mq('md') {
            margin: 48px 50px 0;
        }
        
        @include mq('lg') {
            display: flex;
            align-items: center;
            margin: 67px 100px 0;
        }
    }

    &__text {
        flex: 0 0 100%;
        font-weight: bold;
        line-height: leading(30, 16);
        
        @include mq('lg') {
            flex: 0 1 50%;
            margin-right: 60px;
        }
    }

    &__img {
        flex: 0 0 100%;
        height: 150px;
        margin-top: 24px;
        
        @include mq('md') {
            height: auto;
        }
        
        @include mq('lg') {
            flex: 0 0 50%;
            padding-left: 60px;
            margin-top: 0;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: bottom;
            vertical-align: top;
        }
    }
}

/* -------------------------
Works
------------------------- */
.works {
    background: transparent url(../../../public/assets/img/works-bgi@2x.jpg) no-repeat top center / cover;
    background-attachment: fixed;
    
    .inner {
        overflow: hidden;
    }

    &__cards {
        
        @include mq('lg') {
            display: flex;
            justify-content: space-between;    
            margin: 0 100px;
        }
    }

    &__card {
        flex: 0 0 100%;
        max-width: 320px;
        margin: 0 auto;
        
        &:not(:first-child) {
            margin-top: 30px;
        }
        
        @include mq('lg') {
            flex: 0 0 calc(320 / 1000 * 100%);
            margin: 0;
            
            &:not(:first-child) {
                margin-top: 0;
            }
        }

        @include mq('lg') {
            &:hover img {
                transform: scale(1.1);
            }
        }
        
        
        &-link {
            display: block;
            text-decoration: none;
        }

        &-img {
            overflow: hidden;

            img {
                object-fit: cover;
                transition: all .4s ease-out 0s;
            }
        }

        &-text {
            color: #141414;
            padding: 25px 20px;
            line-height: leading(30, 16);
            background-color: $color-bg;
        }
    }

    &__btn {
        display: flex;
        justify-content: center;
        margin-top: 80px;

        &-link {
            @include _hoverBtn;
            display: block;
        }
    }

    .sectionSubTitle {
        padding: 34px 0 40px;
        
        @include mq('lg') {
            padding: 56px 0 40px;
        }
    }
}

/* -------------------------
Service
------------------------- */
.service {
    overflow: hidden;

    .sectionTitle {
        padding: 122px 136px 68px 15px;

        @include mq('lg') {
            padding: 130px 227px 108px 100px;
        }
    }

    &__menus {
        max-width: 1440px;
        margin: 0 auto;
        
        @include mq('md') {
            width: 60%;
        }

        @include mq('lg') {
            display: flex;
            width: 100%;
        }

        &-link {
            display: block;
            
            &:not(:first-child) {
                margin-top: 30px;
        
                @include mq('lg') {
                    margin-top: 0;
                }
            }
        }
    }
    
    &__menu {
        position: relative;
        
        img {
            width: 960px;
        }
        
        &-title {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $color-text-white;
            font-size: rem(20);
            font-weight: bold;
            font-style: italic;
            line-height: leading(50, 20);
            z-index: 1;
    
            @include mq('lg') {
                font-size: rem(40);
                line-height: leading(50, 40);
            }
        }

        &::before, 
        &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 50%;
            background-color: rgba(23, 23, 23, .5);
            transition: transform .4s ease-out 0s;
        }

        &::before {
            top: 0;
            left: 0;
            transform: scaleX(0);
            transform-origin: right;
        }
        
        &::after {
            bottom: 0;
            right: 0;
            transform: scaleX(0);
            transform-origin: left;            
        }

        &:hover {
            &::before {
                transform: scaleX(1);
                transform-origin: left;
            }
            &::after {
                transform: scaleX(1);
                transform-origin: right;
            }
        }
    }

    .sectionSubTitle {
        padding: 40px 15px 58px;
    }
}

/* -------------------------
Contact
------------------------- */
.contact {
    background: transparent url(../../../public/assets/img/contact-bgi@2x.jpg) no-repeat top center / cover;
    
    .inner {
        overflow: hidden;
    }

    .sectionTitle {
        padding: 122px 136px 100px 0;
        
        @include mq('lg') {
            padding: 140px 227px 108px 100px;
        }
    }

    &__text {
        text-align: center;
        color: $color-text-white;
        font-size: rem(20);
        font-weight: bold;
        line-height: leading(24, 20);
    }

    &__btn {
        display: flex;
        justify-content: center;
        margin-top: 45px;
        
        @include mq('lg') {
            margin-top: 52px;
        }

        &-link {
            @include _hoverBtn;
            display: block;
        }
    }

    .sectionSubTitle {
        padding: 24px 0 58px;

        @include mq('lg') {
            padding: 32px 0 84px;
        }
    }
}

/* -------------------------
TOPフローティング
------------------------- */
.toTop {
    position: fixed;
    right: 15px;
    bottom: 30px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: $color-accent;
    transform: translateY(5px);
    transition: all .6s ease-out 0s;
    @include z-index("floating");
    opacity: .5;
    
    @include mq('md') {
        right: 2vw;
        bottom: 4vw;
        width: 70px;
        height: 70px;
        transform: translateY(7px);
    }

    a {
        width: 100%;
        height: 100%;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 22px;
            left: 18px;
            width: 20px;
            height: 20px;
            border-top: 5px solid darkslategray;
            border-right: 5px solid darkslategray;
            transform: rotate(-45deg);
            
            @include mq('md') {
                top: 28px;
                left: 23px;
                width: 24px;
                height: 24px;
            }
        }
    }

    &:hover {
        transform: translateY(0);
        opacity: 1;
    }

    /* Firefox対応｜position調整 */
    @-moz-document url-prefix(){
        a {
            &::before {
                top: 45px;
            }     
        }
    }
}







